* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL */
li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}
/* END OF GLOBAL */

/* =============================================== */
/* ============HEADER ========== */
/* =============================================== */
.header {
  width: 85%;
  margin: 1rem auto;
}

.header_nav_container {
  color: #9ae1f0;
  font-weight: bold;
  margin-bottom: 2rem;
}

.header_nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav_bar > a {
  flex: 1;
  font-size: 30px;
}

.header_nav_bar a:hover {
  color: #0466c8;
  text-decoration: underline;
}

.header_nav_bar ul {
  display: flex;
  justify-content: flex-end;
  flex: 2;
}

.header_nav_bar > ul li {
  margin-left: 2rem;
}

.header_more_container {
  position: relative;
}

.header_more_btn {
  position: absolute;
  left: 50%;
  font-size: 1.5rem;
  outline: none;
  background-color: white;
  border: none;
}

.header_more_btn:hover {
  cursor: pointer;
}

/* =========================================== */
/* =========================================== */
/* ============== Main ============== */
.main_section {
  width: 85%;
  margin: 5rem auto 0rem auto;
}

.main_container {
  display: flex;
  justify-content: space-between;
  height: 55vh;
  /* background-color: blue; */
}

.main_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: left;
  line-height: 2rem;
}

.main_left h1 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #03045e;
  font-weight: bold;
  line-height: 10rem;
}

.main_left h2 {
  text-transform: uppercase;
  color: #0077b6;
}

.main_left p {
  color: gray;
}

.main_right {
  display: flex;
  flex: 0.8;
  background-image: url("../assets/images/robot_picture.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 10%;
}

.main_divider {
  margin-top: 1rem;
  width: 100%;
  height: 5px;
  background-color: gray;
  margin: 1rem;
}

.main_bottom_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
}

.main_bottom_container div img {
  width: 85%;
  height: 85%;
  border-radius: 2%;
  cursor: pointer;
}

/* Image Caption */
.firstImage,
.secondImage,
.thirdImage,
.fouthImage,
.fifthImage {
  position: relative;
}

.image_hover_caption {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 120px;
  border: 1px solid black;
  top: -70px;
  right: 50px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.1rem;
  z-index: 1;
}

.main_bottom_container img:hover {
  position: relative;
  top: 0;
  left: 0;
  transform: scale(0.9);
  cursor: pointer;
}

.firstImage:hover #firstImageCap {
  visibility: visible;
  opacity: 1;
}

.secondImage:hover #secondImageCap {
  visibility: visible;
  opacity: 1;
}
.thirdImage:hover #thirdImageCap {
  visibility: visible;
  opacity: 1;
}

.fouthImage:hover #fourthImageCap {
  visibility: visible;
  opacity: 1;
}

.fifthImage:hover #fifthImageCap {
  visibility: visible;
  opacity: 1;
}

/* ========================================= */
/* ============ Media ============= */
@media screen and (max-width: 1228px) {
  .main_left {
    line-height: 2rem;
  }
  .main_left h1 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #03045e;
    font-weight: bold;
    line-height: 5rem;
  }
}
/* 959 */
@media screen and (max-width: 959px) {
  .main_left {
    line-height: 2rem;
  }
  .main_left h1 {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #03045e;
    font-weight: bold;
    line-height: 3rem;
    font-size: 1.3rem;
  }

  .main_left h2 {
    font-size: 1.1rem;
  }
}

/* 830 */
@media screen and (max-width: 830px) {
  .main_left {
    line-height: 2rem;
  }
  .main_left h1 {
    font-size: 1.1rem;
  }

  .main_left h2 {
    font-size: 1rem;
  }

  .main_left p {
    font-size: 0.8rem;
  }

  .main_right {
    background-size: 95%;
  }

  .image_hover_caption {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 120px;
    border: 1px solid black;
    top: -70px;
    right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.1rem;
    z-index: 1;
  }
}

/* 680 */
@media screen and (max-width: 680px) {
  .main_container {
    flex-direction: column-reverse;
  }
  .main_right {
    background-size: 100%;
  }
  .main_left {
    text-align: center;
  }
  .main_left h1 {
    font-size: 1.1rem;
  }

  .main_left h2 {
    font-size: 1rem;
  }

  .main_left p {
    font-size: 0.8rem;
  }

  .main_right {
    background-size: 100%;
  }
  .main_divider {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin: 0.5rem;
  }

  .main_bottom_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main_bottom_container div img {
    width: 140px;
    height: 140px;
    border-radius: 2%;
    cursor: pointer;
  }

  .main_bottom_container img:hover {
    position: relative;
    top: 0;
    left: 0;
    transform: scale(1.2);
    cursor: pointer;
  }

  .firstImage:hover #firstImageCap,
  .secondImage:hover #secondImageCap,
  .thirdImage:hover #thirdImageCap,
  .fouthImage:hover #fourthImageCap,
  .fifthImage:hover #fifthImageCap {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 430px) {
  .main_right {
    background-size: 80%;
  }
  .main_left {
    text-align: center;
  }
  .main_divider {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin: 0.2rem;
  }
  .main_bottom_container img:hover {
    position: relative;
    top: 0;
    left: 0;
    transform: scale(1.8);
    cursor: pointer;
  }

  .firstImage:hover #firstImageCap,
  .secondImage:hover #secondImageCap,
  .thirdImage:hover #thirdImageCap,
  .fouthImage:hover #fourthImageCap,
  .fifthImage:hover #fifthImageCap {
    visibility: hidden;
    opacity: 0;
  }
}

@media screen and (max-width: 415px) {
  .header_nav_bar > ul li {
    margin-left: 0.8rem;
    font-size: 0.8rem;
  }
  .header_nav_bar > a {
    flex: 1;
    font-size: 30px;
  }
  .main_section {
    width: 85%;
    margin: 3rem auto 0rem auto;
  }

  .main_right {
    background-size: 80%;
  }
  .main_left {
    text-align: center;
    flex: 0.8;
  }
  .main_divider {
    width: 100%;
    height: 2px;
    background-color: gray;
    margin: 0.2rem;
  }
  .main_bottom_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .main_bottom_container div img {
    width: 100px;
    height: 100px;
    border-radius: 2%;
    cursor: pointer;
  }

  .main_bottom_container img:hover {
    position: relative;
    top: 0;
    left: 0;
    transform: scale(1.2);
    cursor: pointer;
  }

  .firstImage:hover #firstImageCap,
  .secondImage:hover #secondImageCap,
  .thirdImage:hover #thirdImageCap,
  .fouthImage:hover #fourthImageCap,
  .fifthImage:hover #fifthImageCap {
    visibility: hidden;
    opacity: 0;
  }
}
