* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GLOBAL */
li {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

.main_divider {
  width: 30%;
  margin: 2rem auto;
  background-color: #03045e;
}

/* END OF GLOBAL */

/* =============================================== */
/* ============HEADER ========== */
/* =============================================== */
.header {
  width: 85%;
  margin: 1rem auto;
}

.header_nav_container {
  color: #9ae1f0;
  font-weight: bold;
  margin-bottom: 2rem;
}

.header_nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_nav_bar > a {
  flex: 1;
  font-size: 30px;
}

.header_nav_bar a:hover {
  color: #0466c8;
  text-decoration: underline;
}

.header_nav_bar ul {
  display: flex;
  justify-content: flex-end;
  flex: 2;
}

.header_nav_bar > ul li {
  margin-left: 2rem;
}

.header_more_container {
  position: relative;
}

.header_more_btn {
  position: absolute;
  left: 49%;
  font-size: 2rem;
  outline: none;
  background-color: white;
  border: none;
}

.header_more_btn:hover {
  cursor: pointer;
}

/* =========================================== */
/* Project */
.project_section {
  margin: 5rem auto 0rem auto;
  width: 85%;
}

.project_image {
  text-align: center;
}

.project_header_image {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

.project_header {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #03045e;
  text-decoration: underline;
}

.card img {
  width: 100%;
  height: 20vh;
  text-align: center;
  object-fit: cover;
}

.card_functionality {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-decoration: underline;
}

ul li::first-letter {
  font-size: 1.1rem;
  font-weight: bold;
}
/* =========================================== */
.project_footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0;
}

.project_btn {
  outline: none;
  text-decoration: none;
  width: 180px;
  height: 30px;
  border: 2%;
  border: none;
  background-color: white;
  border: 1.5px solid #90e0ef;
  font-size: 18px;
  font-weight: bold;
}

.project_btn a {
  color: #19899c;
}

.project_btn:hover {
  outline: none;
  text-decoration: none;
  cursor: pointer;
  background-color: #90e0ef;
}

.project_btn a:hover {
  color: white;
}

.project_like_btn {
  outline: none;
  background-color: white;
  border: none;
  cursor: pointer;
}

.project_like_btn:hover {
  cursor: pointer;
}

.project_like_btn:focus {
  cursor: pointer;
  outline: none;
}

.fa-heart {
  color: red;
}

.like_count {
  color: gray;
}

@media screen and (max-width: 415px) {
  .header_nav_bar > ul li {
    margin-left: 0.8rem;
    font-size: 0.8rem;
    align-items: center;
  }
  .header_nav_bar > a {
    flex: 1;
    font-size: 30px;
  }
}
